# Obsidian & OS
.obsidian/workspace.json
.obsidian/graph.json
.DS_Store
.trash/

# Environments & Python
.envrc
.direnv/
.venv/
.local_config.json
.agents/
__pycache__

# Uncommitted Capture & Drafts (Staging Area)
00-inbox/*
!00-inbox/README.md


